// Content.scss
.content-container {
   position: relative;
   width: 100vw;
   height: auto;
 }
 
 .content-image {
   width: 100%;
   height: auto;
   display: block;
 }
 
 .content-overlay {
   position: absolute;
   bottom: 0;
   left: 0;
   right: 0;
   padding: 20px;
   display: flex;
   justify-content: space-between;
   align-items: flex-end;  // Aligns items to bottom
 }
 
 .content-description {
   color: white;
   font-size: 2.25rem;
   font-weight: 900;
   text-align: left;
   max-width: 70%;  // Prevents text from crowding the button
   text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);

   top: 30%;
 }
 
 .content-button {
   background: white;
   color: black;
   border: none;
   padding: 0.75rem 1.5rem;
   text-transform: uppercase;
   font-weight: 600;
   cursor: pointer;
   margin-left: auto;  // Pushes button to the right
   margin-bottom: 30px;
   border-radius: 50px;
 }



@media screen and (max-width: 500px) {
  .content-overlay{
  
  }

  .content-container {
    position: relative;
    width: auto;
    height: 80vh; // Container height set to 80vh
    overflow: hidden; // Prevents image from spilling out
  }

  .content-image {
    width: 100%;
    height: 100%;
    object-fit:cover ; // Makes image cover the container while maintaining aspect ratio
    object-position: center;
    
  }

  .content-description {
    color: white;
    font-size: 14px;
    font-weight: 900;
    text-align: left;
    max-width: 70%;  // Prevents text from crowding the button
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
 
    top: 30%;
    display: none;
  }
  
  .content-button {
    background: white;
    color: black;
    border: none;
    font-size: 10px;
    padding: 5px 5px;
    text-transform: uppercase;
    font-weight: 600;
    cursor: pointer;
    margin-left: auto;  // Pushes button to the right
   top: 30%;
    border-radius: 50px;
  }
 }